charset_normalizer
flake8
ipywidgets
jupyter
notebook
matplotlib
numpy
pandas
sacremoses
sentencepiece
sentence-transformers
scikit-learn
streamlit
tabulate
tensorflow
tensorflow-hub
tensorflow-text
torch
torchvision
torchaudio
tqdm
